[Desktop Entry]
Name=Notification proxy
Name[fr]=Mandataire de notification
Exec=notify-proxy
Type=Application
Terminal=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
